@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.625rem;
  }

  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
  }

  body {
    @apply bg-mint-base text-slate antialiased;
    font-family: var(--font-jakarta), sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-vietnam), sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .font-jakarta {
    font-family: var(--font-jakarta), sans-serif;
  }

  .font-vietnam {
    font-family: var(--font-vietnam), sans-serif;
  }
}
